body {
    background-image: url("../images/signin-bg.svg");
    background-size: cover;
  }

.card {
    border: none;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 .container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin: 0 auto;
    margin-top: 10rem;
  }

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.account{
    margin-top: 10px;
}
.account a{
    text-decoration: none;
    margin-left: 5px;
}


.content-side p{
    color: white;
    font-size: 50px;
    font-weight: bolder;
  }

  .content-side ul li{
    color: white;
    font-size: 25px;
    margin-top: 30px;
    list-style-type: none;
  }

  .content-side ul li svg{
    margin-right: 20px;
    font-size: 25px;
  }
